You can get Bytez api key from https://bytez.com/
BYTEZ_API_KEY=Bytez-API-Key
You can get PineCone from https://www.pinecone.io/
PINECONE_API_KEY=pinecone-apikey
PINECONE_HOST=pinecone-host
PINECONE_INDEX=your-pinecone-index-name